{
    "swagger": "2.0",
    "info": {
        "title": "Api Document",
        "termsOfService": "",
        "version": "1.0.0"
    },
    "host": "api.revitalizecs.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/auth/register": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Register",
                "description": "Register",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Login",
                "description": "Login",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Logout",
                "description": "Logout",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/update-password": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Update Password",
                "description": "Update Password",
                "parameters": [
                    {
                        "name": "current_password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/reset-password": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Reset Password",
                "description": "Reset Password",
                "parameters": [
                    {
                        "name": "current_password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/reset-email": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Reset Email",
                "description": "Reset Email",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Me",
                "description": "Me",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Update profile",
                "description": "Update profile",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "website_url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "biography",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/upload-avatar": {
            "post": {
                "tags": [
                    "Authencation"
                ],
                "summary": "Upload Avatar",
                "description": "Upload Avatar",
                "parameters": [
                    {
                        "name": "profile_pic",
                        "in": "query",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/staff/list": {
            "post": {
                "tags": [
                    "Staff"
                ],
                "summary": "Staff List",
                "description": "Staff List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/staff/save": {
            "post": {
                "tags": [
                    "Staff"
                ],
                "summary": "Staff Save",
                "description": "Staff Save",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "biography",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "website_url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "account_type",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/staff/update": {
            "post": {
                "tags": [
                    "Staff"
                ],
                "summary": "Staff Update",
                "description": "Staff Update",
                "parameters": [
                    {
                        "name": "_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "account_type",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "biography",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "website_url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/staff/delete": {
            "post": {
                "tags": [
                    "Staff"
                ],
                "summary": "Staff Delete",
                "description": "Staff Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customers/list": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Customers List",
                "description": "Customers List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customers/create": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Customers Create",
                "description": "Customers Create",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "website_url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customers/settings": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Customers Settings",
                "description": "Customers Settings",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "push_notification",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "text_message",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "low_balance",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "new_charger_added",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fully_charged",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "charging_intrupted",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ship_to_address",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "address_1",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "address_2",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "postalcode",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "charging_level",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "access_level",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customers/delete": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Customers Delete",
                "description": "Customers Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/list": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers List",
                "description": "Chargers List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/history-list": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers History List",
                "description": "Chargers History List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/add": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Create",
                "description": "Chargers Create",
                "parameters": [
                    {
                        "name": "charger_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "usage_type",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connector_type",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "operator",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "charging_level",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_level",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "service_time",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/update": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Update",
                "description": "Chargers Update",
                "parameters": [
                    {
                        "name": "_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "charger_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "usage_type",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connector_type",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "operator",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "charging_level",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_level",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "service_time",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/delete": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Delete",
                "description": "Chargers Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/filters-list": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Filters List",
                "description": "Chargers Filters List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/delete-filter": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Delete Filter",
                "description": "Chargers Delete Filter",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/filters": {
            "get": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Get Filter",
                "description": "Chargers Get Filter",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Add Filter",
                "description": "Chargers Add Filter",
                "parameters": [
                    {
                        "name": "_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "filter_name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "filter_type",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chargers/delete-history": {
            "post": {
                "tags": [
                    "Chargers"
                ],
                "summary": "Chargers Delete History",
                "description": "Chargers Delete History",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/payments/list": {
            "post": {
                "tags": [
                    "Payments"
                ],
                "summary": "Payments List",
                "description": "Payments List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/payments/delete": {
            "post": {
                "tags": [
                    "Payments"
                ],
                "summary": "Payments Delete",
                "description": "Payments Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/vehicles/list": {
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Vehicles List",
                "description": "Vehicles List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/vehicles/registered-list": {
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Vehicles Registered",
                "description": "Vehicles Registered",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/vehicles/add": {
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Vehicles Create",
                "description": "Vehicles Create",
                "parameters": [
                    {
                        "name": "model",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/vehicles/update": {
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Vehicles Update",
                "description": "Vehicles Update",
                "parameters": [
                    {
                        "name": "_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/vehicles/delete": {
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Vehicles Delete",
                "description": "Vehicles Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/vehicles/delete-registered": {
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Vehicles Delete Registered",
                "description": "Vehicles Delete Registered",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/energy/list": {
            "post": {
                "tags": [
                    "Energy"
                ],
                "summary": "Energy List",
                "description": "Energy List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/energy/settings-list": {
            "post": {
                "tags": [
                    "Energy"
                ],
                "summary": "Energy Setting List",
                "description": "Energy Setting List",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "start": {
                                    "type": "number",
                                    "example": 1
                                },
                                "length": {
                                    "type": "number",
                                    "example": 1
                                },
                                "search": {
                                    "type": "object",
                                    "collectionFormat": "multi",
                                    "example": {
                                        "value": ""
                                    }
                                },
                                "order": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "example": {
                                            "column": "",
                                            "dir": ""
                                        }
                                    },
                                    "collectionFormat": "multi"
                                },
                                "columns": {
                                    "type": "object",
                                    "example": {
                                        "data": ""
                                    }
                                },
                                "draw": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/energy/add": {
            "post": {
                "tags": [
                    "Energy"
                ],
                "summary": "Energy Create",
                "description": "Energy Create",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/energy/update": {
            "post": {
                "tags": [
                    "Energy"
                ],
                "summary": "Energy Update",
                "description": "Energy Update",
                "parameters": [
                    {
                        "name": "_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/energy/delete": {
            "post": {
                "tags": [
                    "Energy"
                ],
                "summary": "Energy Delete",
                "description": "Energy Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/energy/delete-settings": {
            "post": {
                "tags": [
                    "Energy"
                ],
                "summary": "Energy Delete Settings",
                "description": "Energy Delete Settings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/export-pdf": {
            "post": {
                "tags": [
                    "Export"
                ],
                "summary": "Export PDF",
                "description": "Export PDF",
                "parameters": [
                    {
                        "name": "export_type",
                        "in": "query",
                        "description": "value = chargers | vehicles | energy | filters",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/export-excel": {
            "post": {
                "tags": [
                    "Export"
                ],
                "summary": "Export Excel",
                "description": "Export Excel",
                "parameters": [
                    {
                        "name": "export_type",
                        "in": "query",
                        "description": "value = chargers | vehicles | energy | filters",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/download-pdf/{filename}": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Download PDF File",
                "description": "Download PDF File",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/download-excel/{filename}": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Download Excel File",
                "description": "Download Excel File",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/img/{folder}/{image}": {
            "get": {
                "tags": [
                    "Other"
                ],
                "summary": "Image Link",
                "description": "Image Link",
                "parameters": [
                    {
                        "name": "folder",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/country-list": {
            "get": {
                "tags": [
                    "Other"
                ],
                "summary": "Country List",
                "description": "Country List",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/charger-filters": {
            "get": {
                "tags": [
                    "Other"
                ],
                "summary": "Charger Filters",
                "description": "Charger Filters",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/dumy_data": {
            "get": {
                "tags": [
                    "Other"
                ],
                "summary": "Dumy Data",
                "description": "Dumy Data",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/update_password": {
            "get": {
                "tags": [
                    "Other"
                ],
                "summary": "Update Password",
                "description": "Update Password",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/testmail": {
            "get": {
                "tags": [
                    "Other"
                ],
                "summary": "Test Mail",
                "description": "Test Mail",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "definitions": {
        "SuccessResponse": {
            "required": [
                "status",
                "message",
                "data"
            ],
            "properties": {
                "status": {
                    "description": "success",
                    "type": "string"
                },
                "message": {
                    "description": "message",
                    "type": "string"
                },
                "data": {
                    "description": "data response",
                    "type": "object"
                }
            },
            "type": "object",
            "xml": {
                "name": "SuccessResponse"
            }
        },
        "ValidateResponse": {
            "required": [
                "message",
                "error"
            ],
            "properties": {
                "message": {
                    "description": "message",
                    "type": "string"
                },
                "error": {
                    "description": "error response",
                    "type": "object"
                }
            },
            "type": "object",
            "xml": {
                "name": "ValidateResponse"
            }
        },
        "UnauthorizedResponse": {
            "required": [
                "status",
                "message",
                "data"
            ],
            "properties": {
                "status": {
                    "description": "status",
                    "type": "string"
                },
                "message": {
                    "description": "message",
                    "type": "string"
                },
                "data": {
                    "description": "data response",
                    "type": "object"
                }
            },
            "type": "object",
            "xml": {
                "name": "UnauthorizedResponse"
            }
        }
    },
    "securityDefinitions": {
        "bearerAuth": {
            "type": "apiKey",
            "description": "Bearer Token",
            "name": "Authorization",
            "in": "header"
        }
    },
    "tags": [
        {
            "name": "Authencation"
        },
        {
            "name": "Staff"
        },
        {
            "name": "Customers"
        },
        {
            "name": "Chargers"
        },
        {
            "name": "Payments"
        },
        {
            "name": "Vehicles"
        },
        {
            "name": "Energy"
        },
        {
            "name": "Export"
        },
        {
            "name": "Other"
        }
    ]
}